{% extends 'admin/base.html' %}
{% load static %}
{% block branding %}
{% block extrastyle %}

<link href="https://fonts.googleapis.com/css2?family=Cantata+One&family=NTR&display=swap" rel="stylesheet">
<style>
    a {
        color:black !important;
    }
    #header{
        background-color: #fae5bd !important;
        font-family: 'NTR';
    }
    .breadcrumbs{
        background-color: white !important;
        border:3px solid gray !important;
        color: blue !important;
    }
    div.actions{
        background-color: #fae5bd !important;
    }
    #changelist-filter>h2{
        background-color: black !important;
        color:white !important;
    }
    #changelist{
        background-color: white !important;
    }
    #changelist .actions{
        background-color: white !important;
    }
    .object-tools a.addlink{
        /* background-image: none !important; */
        background-color: #fae5bd !important;
    }
    #header a:link ,#header a:visited{
        height:10px !important;
        background-color: white !important;
        border: 1px solid white !important;
        border-radius: 4px !important;
        margin: 0 10px !important;
        padding: 0 10px !important;
    }
    
    #changelist-filter li.selected{
        /* background-color: black !important; */
        font-weight: bold;
        border-left: 5px solid black !important;
    }
    #changelist-filter{
        background-color: #fae5bd !important;
        border: 4px solid white !important;
        border-radius: 5px;

    }
    .breadcrumbs>a{
        color:black !important;
    }
    /* .object-tools>li{
        background-color: #fae5bd !important;
        color: black !important;
    } */
    input{
        background-color: #fae5bd !important;
        color: black !important;
        border: 1px solid white !important;
    }
    input:focus{
        border: 5px solid #fae5bd !important;
        background-color: white !important;

    }
    #user-tools{
        color: black !important;
    }
    table{
        border:1px solid black !important;
    }
    .object-tools a{
        background-color: #fae5bd !important;
    }
    .submit-row a.deletelink{
        background-color: white !important;
        border: 2px solid red !important;
        color: red !important;
        font-family: "NTR";
        font-size:large;
        padding: 8px 15px !important;
        border-radius: 5px !important;

    }
    .form-row{
        border-bottom: 1px solid black !important;
    }
    h3{
        font-family: "NTR"!important;
        font-size: large !important;
        padding:1px 2px 1px 15px !important;
    }
    .actionlist > li{
       background-color: white !important;
       border:1px solid black;
       padding-top:4px !important;
       padding-bottom: 4px !important;
       border-radius: 3px;
       /* display: flex; */
    }
    caption{
        background-color: #fae5bd !important;
    }
    .module{
        background-color: #fae5bd !important;
    }
</style>
  <link rel='stylesheet' href='{% static 'css/admin.css' %}'>
{% endblock %}
{% endblock %}